__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.env.local
*.coverage
htmlcov/
dist/
build/
node_modules/
staticfiles/
media/
.mypy_cache/
.pytest_cache/
.venv/
venv/
Dockerfile*
docker-compose*.yml
*.egg-info/
coverage.xml
.DS_Store
